@typeparam TItem
@using System.ComponentModel
@using System.Text.Json
@using System.Globalization
@using System.IO
@using BlazorDownloadFile
@using OfficeOpenXml
@using OfficeOpenXml.Table
@using System.Reflection.Metadata


<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    ::-webkit-scrollbar {
        width: 3px;
        height: 3px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

    * {
        font-family: IRANSans !important;
    }

    a {
        text-decoration: none;
        color: #212529;
    }

        a:hover {
            cursor: pointer;
            color: #212529;
        }

    .tbl-select-filter {
        position: absolute;
        z-index: 10;
        top: 30px;
        left: 0;
        background-color: white;
    }

        .tbl-select-filter div {
            padding: 3px 8px;
            font-size: 15px;
            font-weight: normal !important;
        }

            .tbl-select-filter div:hover {
                background-color: #f1f1f1;
            }

    .txt-box-serach {
        height: 25px;
        font-size: 14px;
    }

    .filter-icon {
        font-size: 19px;
        margin: 0 7px;
        position: relative;
        top: -3px;
    }

    .th-detail {
    }

    .th-edit {
    }

    .th-delete {
    }

    .active {
        color: #999;
       
    }
    .active-filter {
        background-color: #f1f1f1;
    }
    .tbl-columns-show {
        position: absolute;
        z-index: 100;
        bottom: 50px;
        right: auto;
        background-color: #f1f1f1;
        width: 200px;
        text-align: right;
    }


    table td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        /*min-width: 100px;*/
    }



    .tbl-container {
        width: 100%;
        height: 100%;
    }

    .serach-advance {
        width: 200px;
        height: 40px;
    }

    .tbl-head {
        max-height: 90px;
    }

    .bi-caret-up-fill, .bi-caret-up, .bi-caret-down-fill, .bi-caret-down {
        font-size: 10px;
    }

    .tbl-thead {
        /*height: 65px;*/
        z-index: 5;
        position: sticky;
        top: 0;
        right: 0;
        background-color: #333;
    }

        .tbl-thead th {
            min-width: 150px;
        }

    .tbl-data {
        height: calc(100% - 140px);
        overflow: auto;
    }

    .tbl-tbody {
    }

    .tbl-footer {
        display: flex;
        align-items: center;
        width: 100%;
        height: 50px;
        position: relative;
        background-color: #333;
    }

    .input-page {
        width: 40px;
        text-align: center;
        border: none;
        height: 20px;
        font-size: 13px;
        margin: 0 5px;
        border-radius: 5px;
    }

    .fs-14 {
        font-size: 14px;
    }

    .fs-15 {
        font-size: 15px;
    }

    .fs-20 {
        font-size: 20px;
    }

    @@media(max-width:480px) {
        .tbl-footer {
            font-size: 12px;
        }
    }
</style>
<div class="@Options.TblContainer">
    @if (Header != null)
    {
        <div class="@Options.TblTitleHead">
            @Header
        </div>

    }

    @if (IsActiveFullSerach)
    {
        <div class="@Options.SerachAdvance">
            <input class="@Options.SerachAdvanceInput " type="text" @oninput="(ChangeEventArgs e)=>{FilterAdvance(e);}" placeholder="جستجو" />
        </div>
    }
    <div class="tbl-data">
        <table class="@Options.Table">
            <thead class="@Options.TblThead">
                <tr>
                    @if (IsNumberRowShow && CheckColumnName("ردیف", true))
                    {
                        <th class="@Options.Th @Options.RowNumber">
                            <div class="mb-2">
                                ردیف
                            </div>
                            @if (IsActiveFilterColumn)
                            {
                                <div class="position-relative">
                                    <div class="d-flex">
                                        <input class="@Options.InputSerach" disabled="disabled" placeholder="ردیف" type="text" />
                                        <a class="@Options.ThAtag filter-icon mt-1"><i class="bi bi-funnel-fill "></i></a>
                                    </div>

                                </div>
                            }
                        </th>
                    }
                    @foreach (var th in DescriptionObject ?? Array.Empty<PropertyDescriptor>())
                    {
                        if (IsIdShow && th.Name == ColumnName && CheckColumnName(th.Name, true))
                        {
                            <th class="@Options.Th">
                                <div class="mb-2">
                                    @if (ActiveName == th.DisplayName)
                                    {
                                        if (IsAssending.HasValue && IsAssending.Value == false)
                                        {
                                            <a class="@Options.ThAtag " @onclick="()=> {Sort(th.DisplayName,th.Name,true); }">
                                                <i class="bi bi-arrow-up " style="margin:-5px"></i>
                                            </a>
                                            <a class="@Options.ThAtag " @onclick="()=> {Sort(th.DisplayName,th.Name,false); }">
                                                <i class="bi bi-arrow-down active" style="margin:-5px"></i>
                                            </a>
                                            <a class="@Options.ThAtag ps-1" @onclick="()=> { Sort(th.DisplayName,th.Name,true); }">
                                                @th.DisplayName
                                            </a>
                                        }
                                        else
                                        {

                                            <a class="@Options.ThAtag " @onclick="()=> {Sort(th.DisplayName,th.Name,true); }">
                                                <i class="bi bi-arrow-up active" style="margin:-5px"></i>
                                            </a>
                                            <a class="@Options.ThAtag " @onclick="()=> {Sort(th.DisplayName,th.Name,false); }">
                                                <i class="bi bi-arrow-down" style="margin:-5px"></i>
                                            </a>
                                            <a class="@Options.ThAtag ps-1" @onclick="()=> { Sort(th.DisplayName,th.Name,false); }">
                                                @th.DisplayName
                                            </a>
                                        }
                                    }
                                    else
                                    {
                                        <a class="@Options.ThAtag " @onclick="()=> {Sort(th.DisplayName,th.Name,true); }">
                                            <i class="bi bi-arrow-up" style="margin:-5px"></i>
                                        </a>
                                        <a class="@Options.ThAtag " @onclick="()=> {Sort(th.DisplayName,th.Name,false); }">
                                            <i class="bi bi-arrow-down" style="margin:-5px"></i>
                                        </a>
                                        <a class="@Options.ThAtag ps-1" @onclick="()=> { Sort(th.DisplayName,th.Name,true); }">
                                            @th.DisplayName
                                        </a>
                                    }
                                </div>
                                @if (IsActiveFilterColumn)
                                {
                                    <div class="position-relative" tabindex=1 @onfocusout="HideAllSelectFillter">
                                        <div class="d-flex">
                                            <input class="@Options.InputSerach" @oninput="(ChangeEventArgs e)=>{Filter(e,th.Name);}" placeholder="@th.DisplayName" type="text" />
                                            <a class="@Options.ThAtag filter-icon mt-1" @onclick="()=>{ChangeVisibleFillterSelect(th.Name);}"><i class="bi bi-funnel-fill "></i></a>
                                        </div>
                                        @if (FilterSelect.Where(c => c.Key == th.Name).FirstOrDefault().Value)
                                        {
                                            <div class="@Options.TblSelectFilter">
                                                @if (FilterTypes.ContainsKey(th.Name) && FilterTypes[th.Name] == "0")
                                                {
                                                    <div class="active-filter">
                                                        <a class="text-dark" @onclick="()=>{ChangeVisibleFillterSelect(th.Name);ChangeFilter(0.ToString(),th.Name);}">
                                                            شامل باشد با
                                                        </a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div>
                                                        <a class="text-dark" @onclick="()=>{ChangeVisibleFillterSelect(th.Name);ChangeFilter(0.ToString(),th.Name);}">
                                                            شامل باشد با
                                                        </a>
                                                    </div>
                                                }
                                                @if (FilterTypes.ContainsKey(th.Name) && FilterTypes[th.Name] == "1")
                                                {
                                                    <div class="active-filter">
                                                        <a class="text-dark" @onclick="()=>{ChangeVisibleFillterSelect(th.Name);ChangeFilter(1.ToString(),th.Name);}">
                                                            شامل نباشد با
                                                        </a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div>
                                                        <a class="text-dark" @onclick="()=>{ChangeVisibleFillterSelect(th.Name);ChangeFilter(1.ToString(),th.Name);}">
                                                            شامل نباشد با
                                                        </a>
                                                    </div>
                                                }
                                                @if (FilterTypes.ContainsKey(th.Name) && FilterTypes[th.Name] == "2")
                                                {
                                                    <div class="active-filter">
                                                        <a class="text-dark" @onclick="()=>{ChangeVisibleFillterSelect(th.Name);ChangeFilter(2.ToString(),th.Name);}">
                                                            شروع شود با
                                                        </a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div>
                                                        <a class="text-dark" @onclick="()=>{ChangeVisibleFillterSelect(th.Name);ChangeFilter(2.ToString(),th.Name);}">
                                                            شروع شود با
                                                        </a>
                                                    </div>
                                                }

                                                @if (FilterTypes.ContainsKey(th.Name) && FilterTypes[th.Name] == "3")
                                                {
                                                    <div class="active-filter">
                                                        <a class="text-dark" @onclick="()=>{ChangeVisibleFillterSelect(th.Name);ChangeFilter(3.ToString(),th.Name);}">
                                                            تمام شود با
                                                        </a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div>
                                                        <a class="text-dark" @onclick="()=>{ChangeVisibleFillterSelect(th.Name);ChangeFilter(3.ToString(),th.Name);}">
                                                            تمام شود با
                                                        </a>
                                                    </div>
                                                }

                                                @if (FilterTypes.ContainsKey(th.Name) && FilterTypes[th.Name] == "4")
                                                {
                                                    <div class="active-filter">
                                                        <a class="text-dark" @onclick="()=>{ChangeVisibleFillterSelect(th.Name);ChangeFilter(4.ToString(),th.Name);}">
                                                            بزرگتر از
                                                        </a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div>

                                                        <a class="text-dark" @onclick="()=>{ChangeVisibleFillterSelect(th.Name);ChangeFilter(4.ToString(),th.Name);}">
                                                            بزرگتر از
                                                        </a>
                                                    </div>
                                                }

                                                @if (FilterTypes.ContainsKey(th.Name) && FilterTypes[th.Name] == "5")
                                                {
                                                    <div class="active-filter">
                                                        <a class="text-dark" @onclick="()=>{ChangeVisibleFillterSelect(th.Name);ChangeFilter(5.ToString(),th.Name);}">
                                                            کوچکتر از
                                                        </a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div>
                                                        <a class="text-dark" @onclick="()=>{ChangeVisibleFillterSelect(th.Name);ChangeFilter(5.ToString(),th.Name);}">
                                                            کوچکتر از
                                                        </a>
                                                    </div>
                                                }


                                                @if (FilterTypes.ContainsKey(th.Name) && FilterTypes[th.Name] == "6")
                                                {
                                                    <div class="active-filter">
                                                        <a class="text-dark" @onclick="()=>{ChangeVisibleFillterSelect(th.Name);ChangeFilter(6.ToString(),th.Name);}">
                                                            بزرگتر مساوی با
                                                        </a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div>
                                                        <a class="text-dark" @onclick="()=>{ChangeVisibleFillterSelect(th.Name);ChangeFilter(6.ToString(),th.Name);}">
                                                            بزرگتر مساوی با
                                                        </a>
                                                    </div>
                                                }

                                                @if (FilterTypes.ContainsKey(th.Name) && FilterTypes[th.Name] == "7")
                                                {
                                                    <div class="active-filter">
                                                        <a class="text-dark" @onclick="()=>{ChangeVisibleFillterSelect(th.Name);ChangeFilter(7.ToString(),th.Name);}">
                                                            کوچکتر مساوی با
                                                        </a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div>
                                                        <a class="text-dark" @onclick="()=>{ChangeVisibleFillterSelect(th.Name);ChangeFilter(7.ToString(),th.Name);}">
                                                            کوچکتر مساوی با
                                                        </a>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    </div>
                                }
                            </th>
                        }

                        else
                        {
                            @if (CheckColumnName(th.Name, true))
                            {
                                <th class="@Options.Th">
                                    <div class="mb-2">
                                        @if (ActiveName == th.DisplayName)
                                        {
                                            if (IsAssending.HasValue && IsAssending.Value == false)
                                            {
                                                <a class="@Options.ThAtag " @onclick="()=> {Sort(th.DisplayName,th.Name,true); }">
                                                    <i class="bi bi-arrow-up " style="margin:-5px"></i>
                                                </a>
                                                <a class="@Options.ThAtag " @onclick="()=> {Sort(th.DisplayName,th.Name,false); }">
                                                    <i class="bi bi-arrow-down active" style="margin:-5px"></i>
                                                </a>
                                                <a class="@Options.ThAtag ps-1" @onclick="()=> { Sort(th.DisplayName,th.Name,true); }">
                                                    @th.DisplayName
                                                </a>
                                            }
                                            else
                                            {

                                                <a class="@Options.ThAtag " @onclick="()=> {Sort(th.DisplayName,th.Name,true); }">
                                                    <i class="bi bi-arrow-up active" style="margin:-5px"></i>
                                                </a>
                                                <a class="@Options.ThAtag " @onclick="()=> {Sort(th.DisplayName,th.Name,false); }">
                                                    <i class="bi bi-arrow-down" style="margin:-5px"></i>
                                                </a>
                                                <a class="@Options.ThAtag ps-1" @onclick="()=> { Sort(th.DisplayName,th.Name,false); }">
                                                    @th.DisplayName
                                                </a>
                                            }
                                        }
                                        else
                                        {
                                            <a class="@Options.ThAtag " @onclick="()=> {Sort(th.DisplayName,th.Name,true); }">
                                                <i class="bi bi-arrow-up" style="margin:-5px"></i>
                                            </a>
                                            <a class="@Options.ThAtag " @onclick="()=> {Sort(th.DisplayName,th.Name,false); }">
                                                <i class="bi bi-arrow-down" style="margin:-5px"></i>
                                            </a>
                                            <a class="@Options.ThAtag ps-1" @onclick="()=> { Sort(th.DisplayName,th.Name,true); }">
                                                @th.DisplayName
                                            </a>
                                        }
                                    </div>
                                    @if (IsActiveFilterColumn)
                                    {
                                        <div class="position-relative" tabindex=1 @onfocusout="HideAllSelectFillter">
                                            <div class="d-flex">
                                                <input class="@Options.InputSerach" @oninput="(ChangeEventArgs e)=>{Filter(e,th.Name);}" placeholder="@th.DisplayName" type="text" />
                                                <a class="@Options.ThAtag filter-icon mt-1" @onclick="()=>{ChangeVisibleFillterSelect(th.Name);}"><i class="bi bi-funnel-fill "></i></a>
                                            </div>
                                            @if (FilterSelect.Where(c => c.Key == th.Name).FirstOrDefault().Value)
                                            {
                                                <div class="@Options.TblSelectFilter">
                                                    @if (FilterTypes.ContainsKey(th.Name) && FilterTypes[th.Name] == "0")
                                                    {
                                                        <div class="active-filter">
                                                            <a class="text-dark" @onclick="()=>{ChangeVisibleFillterSelect(th.Name);ChangeFilter(0.ToString(),th.Name);}">
                                                                شامل باشد با
                                                            </a>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div>
                                                            <a class="text-dark" @onclick="()=>{ChangeVisibleFillterSelect(th.Name);ChangeFilter(0.ToString(),th.Name);}">
                                                                شامل باشد با
                                                            </a>
                                                        </div>
                                                    }
                                                    @if (FilterTypes.ContainsKey(th.Name) && FilterTypes[th.Name] == "1")
                                                    {
                                                        <div class="active-filter">
                                                            <a class="text-dark" @onclick="()=>{ChangeVisibleFillterSelect(th.Name);ChangeFilter(1.ToString(),th.Name);}">
                                                                شامل نباشد با
                                                            </a>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div>
                                                            <a class="text-dark" @onclick="()=>{ChangeVisibleFillterSelect(th.Name);ChangeFilter(1.ToString(),th.Name);}">
                                                                شامل نباشد با
                                                            </a>
                                                        </div>
                                                    }
                                                    @if (FilterTypes.ContainsKey(th.Name) && FilterTypes[th.Name] == "2")
                                                    {
                                                        <div class="active-filter">
                                                            <a class="text-dark" @onclick="()=>{ChangeVisibleFillterSelect(th.Name);ChangeFilter(2.ToString(),th.Name);}">
                                                                شروع شود با
                                                            </a>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div>
                                                            <a class="text-dark" @onclick="()=>{ChangeVisibleFillterSelect(th.Name);ChangeFilter(2.ToString(),th.Name);}">
                                                                شروع شود با
                                                            </a>
                                                        </div>
                                                    }

                                                    @if (FilterTypes.ContainsKey(th.Name) && FilterTypes[th.Name] == "3")
                                                    {
                                                        <div class="active-filter">
                                                            <a class="text-dark" @onclick="()=>{ChangeVisibleFillterSelect(th.Name);ChangeFilter(3.ToString(),th.Name);}">
                                                                تمام شود با
                                                            </a>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div>
                                                            <a class="text-dark" @onclick="()=>{ChangeVisibleFillterSelect(th.Name);ChangeFilter(3.ToString(),th.Name);}">
                                                                تمام شود با
                                                            </a>
                                                        </div>
                                                    }

                                                    @if (FilterTypes.ContainsKey(th.Name) && FilterTypes[th.Name] == "4")
                                                    {
                                                        <div class="active-filter">
                                                            <a class="text-dark" @onclick="()=>{ChangeVisibleFillterSelect(th.Name);ChangeFilter(4.ToString(),th.Name);}">
                                                                بزرگتر از
                                                            </a>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div>

                                                            <a class="text-dark" @onclick="()=>{ChangeVisibleFillterSelect(th.Name);ChangeFilter(4.ToString(),th.Name);}">
                                                                بزرگتر از
                                                            </a>
                                                        </div>
                                                    }

                                                    @if (FilterTypes.ContainsKey(th.Name) && FilterTypes[th.Name] == "5")
                                                    {
                                                        <div class="active-filter">
                                                            <a class="text-dark" @onclick="()=>{ChangeVisibleFillterSelect(th.Name);ChangeFilter(5.ToString(),th.Name);}">
                                                                کوچکتر از
                                                            </a>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div>
                                                            <a class="text-dark" @onclick="()=>{ChangeVisibleFillterSelect(th.Name);ChangeFilter(5.ToString(),th.Name);}">
                                                                کوچکتر از
                                                            </a>
                                                        </div>
                                                    }


                                                    @if (FilterTypes.ContainsKey(th.Name) && FilterTypes[th.Name] == "6")
                                                    {
                                                        <div class="active-filter">
                                                            <a class="text-dark" @onclick="()=>{ChangeVisibleFillterSelect(th.Name);ChangeFilter(6.ToString(),th.Name);}">
                                                                بزرگتر مساوی با
                                                            </a>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div>
                                                            <a class="text-dark" @onclick="()=>{ChangeVisibleFillterSelect(th.Name);ChangeFilter(6.ToString(),th.Name);}">
                                                                بزرگتر مساوی با
                                                            </a>
                                                        </div>
                                                    }

                                                    @if (FilterTypes.ContainsKey(th.Name) && FilterTypes[th.Name] == "7")
                                                    {
                                                        <div class="active-filter">
                                                            <a class="text-dark" @onclick="()=>{ChangeVisibleFillterSelect(th.Name);ChangeFilter(7.ToString(),th.Name);}">
                                                                کوچکتر مساوی با
                                                            </a>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div>
                                                            <a class="text-dark" @onclick="()=>{ChangeVisibleFillterSelect(th.Name);ChangeFilter(7.ToString(),th.Name);}">
                                                                کوچکتر مساوی با
                                                            </a>
                                                        </div>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    }
                                </th>
                            }
                        }
                    }
                    @if (OnDetail != null && CheckColumnName("جزئیات", true))
                    {
                        <th class="@Options.ThDetail">
                            <div class="mb-2">
                                جزئیات
                            </div>

                            @if (IsActiveFilterColumn)
                            {
                                <div class="d-flex invisible">
                                    <input class="@Options.InputSerach" disabled="disabled" placeholder="جزئیات" type="text" />
                                    <a class="@Options.ThAtag filter-icon mt-1"><i class="bi bi-funnel-fill "></i></a>
                                </div>
                            }
                        </th>
                    }
                    @if (OnEdit != null && CheckColumnName("ویرایش", true))
                    {
                        <th class="@Options.ThDetail">
                            <div class="mb-2">
                                ویرایش
                            </div>
                            @if (IsActiveFilterColumn)
                            {
                                <div class="d-flex invisible">
                                    <input class="@Options.InputSerach" disabled="disabled" placeholder="ویرایش" type="text" />
                                    <a class="@Options.ThAtag filter-icon mt-1"><i class="bi bi-funnel-fill "></i></a>
                                </div>
                            }
                        </th>
                    }
                    @if (OnDelete != null && CheckColumnName("حذف", true))
                    {
                        <th class="@Options.ThDelete">
                            <div class="mb-2">
                                حذف
                            </div>
                            @if (IsActiveFilterColumn)
                            {
                                <div class="d-flex invisible">
                                    <input class="@Options.InputSerach" disabled="disabled" placeholder="حذف" type="text" />
                                    <a class="@Options.ThAtag filter-icon mt-1"><i class="bi bi-funnel-fill "></i></a>
                                </div>
                            }
                        </th>
                    }
                </tr>
            </thead>
            <tbody class="@Options.TblTbody">
                @{
                    int RowCounter = 1;
                    if (PageNumber > 1)
                    {
                        RowCounter = (PageNumber - 1) * RowCount + 1;
                    }
                }
                @foreach (TItem row in Data ?? Array.Empty<TItem>())
                {
                    <tr class="@Options.Tr">
                        @if (IsNumberRowShow && CheckColumnName("ردیف", true))
                        {
                            <td>
                                @RowCounter
                            </td>
                            RowCounter++;
                        }
                        @if (IsIdShow && CheckColumnName(ColumnName, true))
                        {
                            <td>
                                @row.GetType().GetProperty(ColumnName).GetValue(row)
                            </td>
                        }
                        @if (ItemTemplate == null)
                        {
                            @foreach (var column in row.GetType().GetProperties())
                            {


                                @if (column.Name != ColumnName && CheckColumnName(column.Name, true))
                                {
                                    <td>
                                        @column.GetValue(row)
                                    </td>
                                }

                            }
                        }
                        else
                        {
                            @ItemTemplate(row)
                        }
                        @if (OnDetail != null && CheckColumnName("جزئیات", true))
                        {
                            <td class="@Options.TdDetail">
                                <a class="" @onclick="async()=>{await OnDetail(row.GetType().GetProperty(ColumnName).GetValue(row)); }">
                                    <i class="bi bi-three-dots"></i>
                                </a>
                            </td>
                        }
                        @if (OnEdit != null && CheckColumnName("ویرایش", true))
                        {
                            <td class="@Options.TdEdit">
                                <a class="" @onclick="async()=>{await OnEdit(row.GetType().GetProperty(ColumnName).GetValue(row)); }">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </td>
                        }
                        @if (OnDelete != null && CheckColumnName("حذف", true))
                        {
                            <td class="@Options.TdDelete">
                                <a class="" @onclick="async()=>{await OnDelete(row.GetType().GetProperty(ColumnName).GetValue(row)); }">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="@Options.TblFooter">
        <div class="d-flex position-relative" style=" z-index: 1;bottom: 0;right: 0;">
            <div class="mx-2 ">
                <a class="@Options.ExcelLink" @onclick="Download">
                    <i class="bi bi-file-earmark-excel-fill"></i>
                    <span>
                        اکسل
                    </span>
                </a>
            </div>
            @*@onfocusout="HideColumn"*@
            <div class="position-relative mx-2 " style="z-index:20" @onfocusout="HideColumn" tabindex=1>
                <a class="@Options.ColumnsLink" @onclick="async()=>{await Task.Delay(10);IsVisibleColumn= !IsVisibleColumn;}">
                    <i class="bi bi-columns"></i>
                    ستون ها
                </a>
                @if (IsVisibleColumn)
                {
                    <div class="@Options.TblColumnsShow" id="tbl-column">
                        @foreach (var column in Colunms)
                        {
                            @if (CustomColunms.Count > 0)
                            {
                                if (CustomColunms.ContainsKey(column.Key))
                                {
                                    <div class="p-2">
                                        @if (column.Value)
                                        {

                                            <a @onclick="()=>{ Change(column.Key,false);}" class="px-2">
                                                <i class="bi bi-check-square"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <a @onclick="()=>{ Change(column.Key,true);}" class="px-2">
                                                <i class="bi bi-square"></i>
                                            </a>
                                        }
                                        @{
                                            var displayColumnName = DescriptionObject.FirstOrDefault(c => c.Name == column.Key);
                                            if (displayColumnName == null)
                                            {
                                                <span class="mx-2">
                                                    @column.Key
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="mx-2">
                                                    @displayColumnName.DisplayName
                                                </span>
                                            }
                                        }

                                    </div>
                                }
                            }
                            else
                            {
                    <div class="p-2">
                        @if (column.Value)
                        {
                            <a @onclick="()=>{ Change(column.Key,false);}" class="px-2">
                                <i class="bi bi-check-square"></i>
                            </a>
                        }
                        else
                        {
                            <a @onclick="()=>{ Change(column.Key,true);}" class="px-2">
                                <i class="bi bi-square"></i>
                            </a>
                        }
                        @{
                            var displayColumnName = DescriptionObject.FirstOrDefault(c => c.Name == column.Key);
                            if (displayColumnName == null)
                            {
                                <span class="mx-2">
                                    @column.Key
                                </span>
                            }
                            else
                            {
                                <span class="mx-2">
                                    @displayColumnName.DisplayName
                                </span>
                            }
                        }

                    </div>
                            }
                        }
                    </div>

                }

            </div>
        </div>
        <div class="d-flex">
            @if (IsActivePagination)
            {
                if (PageNumber == 1)
                {
                    <a class="text-white">
                        <i class="bi bi-chevron-right"></i>
                    </a>
                }
                else
                {
                    <a class="@Options.Atag text-white" @onclick="Previous">
                        <i class="bi bi-chevron-right"></i>
                    </a>
                }
                <input type="number" class="input-page" value=@PageNumber @oninput="(ChangeEventArgs e)=>{
                            try{
                                    if(int.Parse(e.Value.ToString())<=PageCount)
                                    {
                                        GoToPageNumber(int.Parse(e.Value.ToString()));
                                    }
                            }
                            catch{

                            }
                            }" />
                @if (PageNumber == PageCount)
                {

                    <a class="text-white">
                        <i class="bi bi-chevron-left"></i>
                    </a>
                }
                else
                {
                    <a class="@Options.Atag text-white" @onclick="Next">
                        <i class="bi bi-chevron-left"></i>
                    </a>
                }
                <div class="text-white ps-1">
                    صفحه @PageNumber از @PageCount
                </div>
                <select @onchange="ChangeShowCounRow" class="input-page">
                    <option value="10">
                        10
                    </option>
                    <option selected value="20">
                        20
                    </option>
                    <option value="50">
                        50
                    </option>
                    <option value="100">
                        100
                    </option>
                </select>
                @*   <nav aria-label="Page navigation example">
                    <ul class="pagination">
                    @if (PageNumber == 1)
                    {
                    <li class="page-item"><a class="page-link  aria-disabled=" true"">Previous</a></li>
                    }
                    else
                    {

                    <li class="page-item"><a @onclick="Previous" class="page-link ">Previous</a></li>
                    }
                    @for (int i = 1; i <= PageCount; i++)
                    {
                    @if (PageNumber == i)
                    {
                    <li class="page-item active"><a class="page-link">@i</a></li>
                    }
                    else
                    {
                    int pagenumber = i;
                    <li class="page-item"><a @onclick="()=>{GoToPageNumber(pagenumber);}" class="page-link">@i</a></li>

                    }
                    }
                    @if (PageNumber == PageCount)
                    {
                    <li class="page-item"><a class="page-link" aria-disabled="true">Next</a></li>
                    }
                    else
                    {
                    <li class="page-item"><a @onclick="Next" class="page-link">Next</a></li>
                    }
                    </ul>
                    </nav>*@
            }
        </div>
    </div>

</div>
@code {

    public delegate Task Callback<TValue>(TValue arg);

    [Parameter]
    public IEnumerable<TItem> Data { get; set; }
    [Parameter]
    public TableOption Options { get; set; }
    [Parameter]
    public bool IsIdShow { get; set; }
    [Parameter]
    public bool IsNumberRowShow { get; set; }
    [Parameter]
    public int RowCount { get; set; } = 20;
    [Parameter]
    public bool IsActivePagination { get; set; }
    [Parameter]
    public bool IsActiveFilterColumn { get; set; }
    [Parameter]
    public RenderFragment<TItem> ItemTemplate { get; set; }
    [Parameter]
    public Callback<object> OnDetail { get; set; }
    [Parameter]
    public Callback<object> OnEdit { get; set; }
    [Parameter]
    public Callback<object> OnDelete { get; set; }


    [Parameter]
    public RenderFragment AdvanceSearch { get; set; }
    [Parameter]
    public RenderFragment Header { get; set; }
    [Parameter]
    public bool IsActiveFullSerach { get; set; }
    [Parameter]
    public bool IsMiladi { get; set; }
    public bool IsVisibleColumn { get; set; }
    public IEnumerable<TItem> Items { get; set; }
    public IEnumerable<TItem> FilterData { get; set; }
    public int PageNumber { get; set; } = 1;
    public string ColumnName { get; set; } = "Id";
    public bool? IsAssending { get; set; }
    public string ActiveName { get; set; }
    public string PropertyName { get; set; }
    public int PageCount { get; set; }
    public Dictionary<string, string> FilterTypes { get; set; } = new();
    public Dictionary<string, string> SearchColumnValues { get; set; } = new();
    public Dictionary<string, bool> Colunms { get; set; } = new();
    public Dictionary<string, string> CustomColunms { get; set; } = new();
    public Dictionary<string, bool> FilterSelect { get; set; } = new();
    public IEnumerable<PropertyDescriptor> DescriptionObject { get; set; }
    [Inject]
    public IBlazorDownloadFileService BlazorDownloadFileService { get; set; }
    [Inject]
    public IJSRuntime IJSRuntime { get; set; }
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            object o = new { };

            DescriptionObject = TypeDescriptor.GetProperties(typeof(TItem))
                      .Cast<PropertyDescriptor>().ToList();

            @if (IsNumberRowShow)
            {

                Colunms.Add("ردیف", true);
                CustomColunms.Add("ردیف", "ردیف");
            }
            foreach (var th in DescriptionObject)
            {
                if (th.Name == ColumnName)
                {
                    if (IsIdShow)
                    {
                        Colunms.Add(th.Name, true);
                        FilterSelect.Add(th.Name, false);
                    }
                }
                else
                {
                    Colunms.Add(th.Name, true);
                }
            }
            Colunms.Add("ویرایش", true);
            Colunms.Add("حذف", true);
            Colunms.Add("جزئیات", true);
            CustomColunms.Add("ویرایش", "ویرایش");
            CustomColunms.Add("حذف", "حذف");
            CustomColunms.Add("جزئیات", "جزئیات");
            if (IsIdShow)
            {
                CustomColunms.Add("Id", "Id");

            }
            StateHasChanged();
        }
    }
    protected override void OnParametersSet()
    {
        if (Data != default)
        {
            Items = JsonSerializer.Deserialize<IEnumerable<TItem>>(JsonSerializer.Serialize(Data));
            if (IsActivePagination)
            {
                PageCount = Data.Count() % RowCount == 0 ? Data.Count() / RowCount : (int)(Data.Count() / RowCount) + 1;

                Data = Items.Skip((PageNumber - 1) * RowCount).Take(RowCount).ToList();
            }
            else
            {
                Data = Items;
            }
            StateHasChanged();
        }

    }
    public void ChangeShowCounRow(ChangeEventArgs e)
    {
        RowCount = int.Parse(e.Value.ToString());
        PageCount = Items.Count() % RowCount == 0 ? Items.Count() / RowCount : (int)(Items.Count() / RowCount) + 1;
        GoToPageNumber(1);
    }
    public void Sort(string activeName, string name, bool isAssending)
    {
        ActiveName = activeName;
        PropertyName = name;
        IsAssending = isAssending;
        OrderBy(name, isAssending);
        StateHasChanged();
    }
    public void OrderBy(string name, bool isAssending)
    {
        if (isAssending)
        {
            Items = Items.OrderBy(c => c.GetType().GetProperties().FirstOrDefault(p => p.Name == name).GetValue(c)).ToList();
            FilterData = FilterData?.OrderBy(c => c.GetType().GetProperties().FirstOrDefault(p => p.Name == name).GetValue(c)).ToList();
            Data = Data?.OrderBy(c => c.GetType().GetProperties().FirstOrDefault(p => p.Name == name).GetValue(c)).ToList();
        }
        else
        {
            Items = Items.OrderByDescending(c => c.GetType().GetProperties().FirstOrDefault(p => p.Name == name).GetValue(c)).ToList();
            FilterData = FilterData?.OrderByDescending(c => c.GetType().GetProperties().FirstOrDefault(p => p.Name == name).GetValue(c)).ToList();
            Data = Data?.OrderByDescending(c => c.GetType().GetProperties().FirstOrDefault(p => p.Name == name).GetValue(c)).ToList();
        }
        if (IsActivePagination)
        {
            GoToPageNumber(PageNumber);
        }
    }
    public void GoToPageNumber(int pageNumber)
    {
        PageNumber = pageNumber;

        if (FilterData == null)
        {
            Data = Items.Skip((PageNumber - 1) * RowCount).Take(RowCount).ToList();
        }
        else
        {
            Data = FilterData.Skip((PageNumber - 1) * RowCount).Take(RowCount).ToList();
        }


        StateHasChanged();
    }
    public void Next()
    {
        PageNumber++;
        GoToPageNumber(PageNumber);
    }
    public void Previous()
    {
        PageNumber--;
        GoToPageNumber(PageNumber);
    }
    public void Filter(ChangeEventArgs e, string name)
    {

        if (SearchColumnValues.ContainsKey(name))
        {
            SearchColumnValues[name] = e.Value.ToString();
        }
        else
        {
            SearchColumnValues.Add(name, e.Value.ToString());
        }
        List<TItem> curenData = Items.ToList();
        foreach (var serachValue in SearchColumnValues)
        {
            if (string.IsNullOrEmpty(serachValue.Value) == false)
            {
                string k = serachValue.Key.ToString();
                string v = serachValue.Value.ToString();
                string filterType = "0";
                if (FilterTypes.ContainsKey(k))
                {
                    filterType = FilterTypes[k];
                }

                if (filterType == "0")
                {
                    curenData = curenData.Where(c => c.GetType().GetProperty(k).GetValue(c).ToString().Contains(v)).ToList();
                }
                else if (filterType == "1")
                {
                    curenData = curenData.Where(c => c.GetType().GetProperty(k).GetValue(c).ToString().Contains(v) == false).ToList();
                }
                else if (filterType == "2")
                {
                    curenData = curenData.Where(c => c.GetType().GetProperty(k).GetValue(c).ToString().StartsWith(v)).ToList();
                }
                else if (filterType == "3")
                {
                    curenData = curenData.Where(c => c.GetType().GetProperty(k).GetValue(c).ToString().EndsWith(v)).ToList();
                }
                else if (filterType == "4")
                {
                    int currentValue = 0;
                    try
                    {
                        currentValue = int.Parse(v);
                        curenData = curenData.Where(c => int.Parse(c.GetType().GetProperty(k).GetValue(c).ToString()) > currentValue).ToList();
                    }
                    catch
                    {
                        DateTime date;
                        try
                        {
                            date = ToMiladi(v);
                            curenData = curenData.Where(c => ToMiladi(c.GetType().GetProperty(k).GetValue(c).ToString()) > date).ToList();

                        }
                        catch
                        {

                        }
                    }
                }
                else if (filterType == "5")
                {
                    int currentValue = 0;
                    try
                    {
                        currentValue = int.Parse(v);
                        curenData = curenData.Where(c => int.Parse(c.GetType().GetProperty(k).GetValue(c).ToString()) < currentValue).ToList();
                    }
                    catch
                    {
                        DateTime date;
                        try
                        {
                            date = ToMiladi(v);
                            curenData = curenData.Where(c => ToMiladi(c.GetType().GetProperty(k).GetValue(c).ToString()) < date).ToList();

                        }
                        catch
                        {

                        }
                    }
                }
                else if (filterType == "6")
                {
                    int currentValue = 0;
                    try
                    {
                        currentValue = int.Parse(v);
                        curenData = curenData.Where(c => int.Parse(c.GetType().GetProperty(k).GetValue(c).ToString()) >= currentValue).ToList();
                    }
                    catch
                    {
                        DateTime date;
                        try
                        {
                            date = ToMiladi(v);
                            curenData = curenData.Where(c => ToMiladi(c.GetType().GetProperty(k).GetValue(c).ToString()) >= date).ToList();

                        }
                        catch
                        {

                        }
                    }
                }
                else if (filterType == "7")
                {
                    int currentValue = 0;
                    try
                    {
                        currentValue = int.Parse(v);
                        curenData = curenData.Where(c => int.Parse(c.GetType().GetProperty(k).GetValue(c).ToString()) <= currentValue).ToList();
                    }
                    catch
                    {
                        DateTime date;
                        try
                        {
                            date = ToMiladi(v);
                            curenData = curenData.Where(c => ToMiladi(c.GetType().GetProperty(k).GetValue(c).ToString()) <= date).ToList();

                        }
                        catch
                        {

                        }
                    }
                }

            }
        }

        FilterData = curenData.ToList();
        Data = curenData.ToList();


        if (IsActivePagination)
        {
            PageNumber = 1;
            PageCount = Data.Count() % RowCount == 0 ? Data.Count() / RowCount : (int)(Data.Count() / RowCount) + 1;
            Data = Data.Skip((PageNumber - 1) * RowCount).Take(RowCount).ToList();
        }
        StateHasChanged();
    }
    public void FilterAdvance(ChangeEventArgs e)
    {
        if (e.Value.ToString() == "")
        {
            FilterData = Items;
            Data = Items;
        }
        else
        {
            List<TItem> curentData = new();
            foreach (var row in Items)
            {
                foreach (var property in row.GetType().GetProperties())
                {
                    if (property.GetValue(row) != null && property.GetValue(row).ToString().Contains(e.Value.ToString()))
                    {
                        if (curentData.FirstOrDefault(c => c.Equals(row)) == null)
                        {
                            curentData.Add(row);
                        }
                    }
                }
            }

            FilterData = curentData;
            Data = curentData;
        }
        if (IsActivePagination)
        {
            PageNumber = 1;
            PageCount = Data.Count() % RowCount == 0 ? Data.Count() / RowCount : (int)(Data.Count() / RowCount) + 1;
            Data = Data.Skip((PageNumber - 1) * RowCount).Take(RowCount).ToList();
        }
    }
    public void ChangeFilter(string e, string name)
    {
        if (FilterTypes.ContainsKey(name))
        {
            FilterTypes[name] = e;
        }
        else
        {
            FilterTypes.Add(name, e);
        }
        ChangeEventArgs s = new ChangeEventArgs();
        if (SearchColumnValues.ContainsKey(name))
        {
            s.Value = SearchColumnValues[name];
            Filter(s, name);
        }
        else
        {
            s.Value = "";
            Filter(s, name);
        }
    }
    public DateTime ToMiladi(string pDate)
    {
        string[] date = pDate.Split('/', '-');
        PersianCalendar pc = new PersianCalendar();
        int day = int.Parse(date[2].ToString());
        int month = int.Parse(date[1].ToString());
        int year = int.Parse(date[0].ToString());
        DateTime dt = new DateTime(year, month, day, pc);
        return dt;
    }
    public bool CheckColumnName(string propertyName, bool current = false)
    {
        if (current == false)
        {
            if (CustomColunms.ContainsKey(propertyName) == false)
            {
                CustomColunms.Add(propertyName, propertyName);
                StateHasChanged();
            }
        }


        if (Colunms.ContainsKey(propertyName) && CustomColunms.ContainsKey(propertyName))
        {
            return Colunms[propertyName];
        }
        else
        {
            return false;
        }
    }

    public void Change(string name, bool value)
    {
        Colunms[name] = value;
        Task.Delay(1);
        IsVisibleColumn = true;
    }
    public async Task<DowloadFileResult> Download()
    {
        var package = new ExcelPackage();
        package.Workbook.Properties.Title = typeof(TItem).Name + "-Report";
        package.Workbook.Properties.Author = "DanialImani1370";
        package.Workbook.Properties.Subject = typeof(TItem).Name + "-Report";
        package.Workbook.Properties.Keywords = "Testing";
        var worksheet = package.Workbook.Worksheets.Add("RightToLeft");
        worksheet.View.RightToLeft = true;
        IEnumerable<TItem> items;
        if (FilterData != null)
        {
            items = FilterData;
        }
        else
        {
            items = Items;
        }
        //First add the headers
        int index = 0;
        foreach (var th in DescriptionObject)
        {
            index++;

            worksheet.Cells[1, index].Value = th.DisplayName;
        }

        int indexRow = 2;
        foreach (var row in items)
        {
            int indexColumn = 1;
            foreach (var column in row.GetType().GetProperties())
            {

                worksheet.Cells[indexRow, indexColumn].Value = column.GetValue(row);
                indexColumn++;
            }
            indexRow++;
        }

        byte[] reportBytes;
        reportBytes = package.GetAsByteArray();
        string name = typeof(TItem).Name + $"{DateTime.Now.ToString("yyyy-MM-dd", CultureInfo.InvariantCulture)}.xlsx";
        var s = await BlazorDownloadFileService.DownloadFile(name, reportBytes, "application/octet-stream");
        return s;
    }

    public void HideFillterSelect(string propName)
    {
        FilterSelect[propName] = false;
    }
    public void ShowFillterSelect(string propName)
    {
        FilterSelect[propName] = true;
    }
    public void ChangeVisibleFillterSelect(string propName)
    {
        if (FilterSelect.FirstOrDefault(c => c.Key == propName).Value == false)
        {
            ShowFillterSelect(propName);
        }
        else
        {
            HideFillterSelect(propName);
        }
        StateHasChanged();
    }
    public void HideAllSelectFillter()
    {
        foreach (var item in FilterSelect)
        {
            FilterSelect[item.Key] = false;
        }

    }
    public void HideColumn()
    {
        IsVisibleColumn = false;
    }
}
